/* Color Theme Swatches in Hex */
.Starter-Css-1-hex { color: #131CA8; }
.Starter-Css-2-hex { color: #4F5BFF; }
.Starter-Css-3-hex { color: #3340F5; }
.Starter-Css-4-hex { color: #A88702; }
.Starter-Css-5-hex { color: #F5CE33; }

/* Color Theme Swatches in RGBA */
.Starter-Css-1-rgba { color: rgba(19, 28, 168, 1); }
.Starter-Css-2-rgba { color: rgba(79, 91, 255, 1); }
.Starter-Css-3-rgba { color: rgba(51, 64, 245, 1); }
.Starter-Css-4-rgba { color: rgba(168, 135, 2, 1); }
.Starter-Css-5-rgba { color: rgba(245, 206, 51, 1); }

/* Color Theme Swatches in HSLA */
.Starter-Css-1-hsla { color: hsla(236, 79, 36, 1); }
.Starter-Css-2-hsla { color: hsla(235, 100, 65, 1); }
.Starter-Css-3-hsla { color: hsla(235, 90, 58, 1); }
.Starter-Css-4-hsla { color: hsla(48, 97, 33, 1); }
.Starter-Css-5-hsla { color: hsla(47, 90, 58, 1); }

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*  ---------------Utility Classes-----------------  */

  .container{
    width: 70vw;
    margin:40px auto;
    max-width: 960px;
    background-color: #F5CE33;
  }

  /* ---------------- Responsive Image --------------  */

    img{
      max-width: 100%;
    }
  /*  --------------- Global Styles -----------------  */

  body {
    font-family: 'Playfair Display', serif;
    margin:0;
  }

  header.primary{
    background-color:#4F5BFF;
    text-align:center;
    color:#ffffff;
    padding:40px;
    /*long form*/
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
    /* T,R,B,L */
    padding: 40px 40px 40px 40px;
    /* Two Value Top/Bottom / L/R */
    padding: 20px 40px;
    
  }
  

  header.primary h1{
    font-size:2.6rem;
    margin:20px 0;
  }

  header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
  }

  header.primary h2{
    font-size:1.4rem;
    /* Top | Left/Right | Bottom */
    margin:10px auto 30px;
  }

  header.primary nav{
    max-width: 960px;
  }

  header.primary ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
  }

  header.primary li{
    list-style-type:none;
  }

  header.primary nav a{
    color:#ffffff;
    text-decoration:none;
    background:rgba(0,0,0,.4);
    padding:8px 16px;
    border-radius: 20px;
    transition: .5s;
    /* width | stroke type | color */
    border: 1px solid rgba(0,0,0,.6);
  }

  header.primary nav a:hover, header.primary nav a:active{
    background:rgba(0,0,0,.8);
  }

  #intro {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: .9rem;
  }
  #intro h2{
    color:cornflowerblue;
    border-bottom: 1px solid #c0c0c0;

  }

  #content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 2.9rem;
  }

  #content article.post {
    width: 30%;
    box-shadow:  0 4px 8px rgba(0,0,0,.4);
    padding: 10px;
    border-radius: 4px;
    font-size: .8rem;
    transition: .5s;
  }

  #content article.post:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,.4);
  }
  
  article.post figure{
    margin:0;
  }

  time.post-date, figcaption, .post-meta{
    text-transform: uppercase;
    color: #c0c0c0;
  }

  article.post figure img{
    border: 1px solid #c0c0c0;
    padding: 2px;
    border-radius: 4px;
    margin: 5px auto;
  }

  article.post a{
    color:#A88702;
  }

  article.post a:hover{
    text-decoration: none;
  }
  /* Attribute Selector Example */
  aside[role="complementary"]{
    background-color: #F5CE33;
    padding: 40px;

  }

  aside .container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

  aside article.widget{
  width: 43%;
  }

  article.widget a:last-of-type{
    color:#ffffff;
    display:block;
    text-align: right;
    margin-top: .8rem;
  }
  @media screen and (max-width:600px){
    header.primary ul{
      
      flex-direction:column;
      width: 50vw;
      margin: 0 auto;
    }
      header.primary nav a{
        display:block;
      }
      header.primary nav li{
        margin-bottom: 10px;
      }
  }