body{
    background-color: darkgreen;
}

h1,p,h2{
    color: rgb(57, 203, 188);
}

nav a{
  color:rgb(57,203,188);
}
nav a:hover{
text-decoration: none;
color: beige;
}

nav li{
  color: rgb(57, 203, 188);
}